Towards a Verified Artificial Pancreas: Challenges and Solutions for Runtime Verification

- Simulation-based falsification: focus primarily on robustness-guided falsification.

---------
### Questions
- 

---------
### Ideas
- Read again to see how to use S-taliro for AP and how to use RV.